@font-face {
  font-family: 'roboto-semibold';
  src: url('../fonts/Roboto-SemiBold.ttf') format('truetype');
}

.h1 {
  color: black;
  font-size: 1.6rem;
  margin: 1em;
  padding-left: 0.5em;
  text-align: left;
}

.div_line {
  border: 1px solid gray;
  height: 1px;
}

.edu_experience_form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.6fr 0.6fr 1.3fr 0.4fr;
  grid-template-areas:
    'role role company company'
    'startDate endDate location location'
    'description description description description';
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  gap: 10px;
}

.input_label input {
  display: flex;
  width: 100%;
  border: none;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
  padding: 5px;
  height: 4vh;
  font-size: 0.8rem;
}

.input_label label {
  font-size: 0.9rem;
}

.company {
  grid-area: company;
}

.role {
  grid-area: role;
}

.start {
  grid-area: startDate;
}

.end {
  grid-area: endDate;
}

.location {
  grid-area: location;
}

.description {
  grid-area: description;
}

.description textarea {
  width: 100%;
  height: 100%;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-size: 0.8rem;
  resize: none;
}

.job_div_container {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.job_experience_p {
  font-family: 'roboto-semibold', Arial, sans-serif !important;
}

.edit_img_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.job_holder_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button_container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0;
  margin-top: 40px;
}

.delete_container {
  display: flex;
}

.delete_button {
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit_cancel_container {
  display: flex;
  gap: 10px;
}

.submit_button {
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel_button {
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: none;
}

.add_education_btn {
  border: none;
  font-size: 1.3rem;
  background-color: white;
}

.add_education_btn:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: gainsboro;
}
