.h1 {
  color: black;
  font-size: 1.6rem;
  margin: 1em;
  padding-left: 0.5em;
  text-align: left;
}

.div_line {
  border: 1px solid gray;
  height: 1px;
  margin-bottom: 10px;
}

.job_experience_form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'company company role'
    'startDate endDate location'
    'description description description';
  padding: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
}
